<p>Hey {{ username }},</p>
<p>Here is your recap</p>
<p>Private seller price : {{ priv }}</p>
<p>Professional seller price : {{ professional }}</p>

<p>Thank you for using our site, Autorate team </p>